<div class="container">
    <div class="blog-header">
        <h1 class="blog-title">关于"我"</h1>
        <p class="lead blog-description">写点什么?</p>

    </div>

    <div class="row">
        <div class="col-xs-10">
            <p>
                计算机科学与技术专业毕业(很多人抱怨此专业),完全是浑浑噩噩的状态过完的大学生活(现在正在学和想学的很多专业知识在当时已经接触过,只不过已经还给老师了,求后悔药)。
                工作后从开始的WEB开发(是ASP, 不是ASP.NET, 暴漏年龄了)、网管(做网线)、服务器运维(装防火墙)、UI设计(设计、切图、出模版)、平面设计(说明书、易拉宝)、
                软件开发(Visual Basic 6.0,再次暴漏年龄),
                自学了解各种编程语言(<del>C++,C,Java,大学时也有学习,</del>Ruby,Python,C#,PHP,Erlang,Lua,Perl, 均浅尝辄止),学习使用Linux(尝试了N种分发版,最终选了Ubuntu)、
                踏上了LAMP这条不归路、、、各种无限的延伸知识(学海无涯,<del>[回]</del>苦<del>[头]</del>作<del>[是]</del>舟<del>[岸]</del>)。
            </p>
            <p>
                熬过了自己的迷茫和无知,也熬过了家人的反对和鄙视。最终把一头浓密的黑发熬成秃头以后, 才真正认识到自己在很多方面的不足, 不仅仅是编程语言, 系统知识、硬件原理、三观、、、等,都有待改善。
                在挨踢这个行业, 学习工作了十几年, 虽然生性有些愚钝、木纳,也有些晚, 但终于算是有点儿入门了。
            </p>
            <p>
                <code>广告:求个坑(#^_^#)!</code>
            </p>
            <p>
                Go语言的正式学习始于 2013的4月份, 2天时间学完了官方的一份指南, 记得那本PDF书只有几十页。然后就用 beego 框架, 做了一个简单的网站。 随之而来的就是阅读 Go 相关的各种书籍。
                2014年用 Go 语言做了一个基于TCP/IP的C/S的项目。生拼硬凑出来的东西虽然能用, 但很多东西没有理解掌握,运用也很生疏。
            </p>
            <p>
                关于 Iris 框架, 在3.0版本的时候, 粗略的浏览过,感觉不错。最近想着手做点东西,于是就决定认真学习一下Iris, 边学习边翻译文档用了1周的业余时间, 制作该网站又用了几天的时间。
                希望能有益于大家。作为一名刚入门的学生,还望大家不吝赐教。
            </p>
            <p>
                翻译后的内容保存在 GitHub 仓库 <a href="https://github.com/hilerchyn/iris-gitbook" target="_blank">Iris GitBook</a>。
                如有翻译错误、不准确、不通顺的地方, 可以直接在仓库上提issue, pull request, 或直接告诉。此处应有联系方式:
            </p>
            <ul>
                <li>E-Mail: hilerchyn@gmail.com</li>
                <li>GitHub: <a href="https://github.com/hilerchyn" target="_blank">@hilerchyn</a></li>
                <li>Twitter: <a href="https://twitter.com/hilerchyn" target="_blank">@hilerchyn</a></li>
                <li>Facebook: <a href="https://www.facebook.com/hilerchyn" target="_blank">@hilerchyn</a></li>
                <li>AboutMe: <a href="https://about.me/hiler" target="_blank">@hiler</a></li>
            </ul>
            <br/>
            <p><a class="btn btn-primary btn-lg" href="/gitbook" role="button">开始学习</a></p>
        </div>
    </div>
</div>