<div class="container">
    <div class="blog-header">
        <h1 class="blog-title">关于"我"</h1>
        <p class="lead blog-description">得说点什么?</p>

    </div>

    <div class="row">
        <div class="col-xs-10">
            <p>
                虽然是学习计算机科学与技术专业(后来很多人抱怨这是坑人的专业)毕业,但几乎是从昏昏呼呼的状态下混过来的(书到用时方恨少, 现在正在学、想学的很多东西在当时已经接触过,已经还给老师了)。
                工作后从开始的WEB开发(是ASP, 不是ASP.NET, 暴漏年龄了)、网管(做网线)、服务器运维(装防火墙)、UI设计、平面设计、软件开发(Visual Basic 6.0,再次暴漏年龄)、
                自学了解各种编程语言(C++,C,Java,Ruby,Python,C#,PHP,Erlang, 选定其中的任何一门语言都会有不错的发展),学习使用Linux(尝试了N种分发版,最终选了Ubuntu)、踏上了LAMP这条不归路。
            </p>
            <p>
                Go语言的学习开始于 2013的4月份, 2天时间学完了官方的一份指南, 记得那本PDF书只有几十页。然后就用 beego 框架, 做了一个简单的网站。 随之而来的就是阅读 Go 相关的各种书籍。
                2014年用 Go 语言做了一个基于TCP/IP的C/S的项目。东西能用, 但是生拼硬凑出来的, 很多东西没有理解掌握,运用也很生疏。
            </p>
            <p>
                这时才认识到自己在很多方面的不足, 不仅仅是编程语言, 系统知识、硬件原理、三观、、、等都有待改善。
                在计算机这个行业, 学习工作了十几年, 虽然生性愚钝、木纳, 晚是晚了点儿, 但终于算是有点儿入门了。
            </p>
            <p>
                关于 Iris 框架, 在3.0版本的时候, 粗略的浏览过,感觉不错。最近想着手做点东西,于是就决定认真学习一下Iris, 边学习边翻译文档用了1周的业余时间, 制作该网站用了不到1周的时间。
                希望能有益于大家。我只不过是个刚入门的学童,还望大家不吝赐教。
            </p>
            <p>
                翻译后的内容保存在 GitHub 仓库 <a href="https://github.com/hilerchyn/iris-gitbook" target="_blank">Iris GitBook</a>。
                如有翻译错误、不准确、不通顺的地方, 可以直接在仓库上提issue, pull request, 或直接告诉。此处应有联系方式:
            </p>
            <ul>
                <li>E-Mail: hilerchyn@gmail.com</li>
                <li>GitHub: <a href="https://github.com/hilerchyn" target="_blank">@hilerchyn</a></li>
            </ul>
            <br/>
            <p><a class="btn btn-primary btn-lg" href="/gitbook" role="button">开始学习</a></p>
        </div>
    </div>
</div>