<div class="container">
    <div class="blog-header">
        <h1 class="blog-title">Iris 网站框架 实践指南</h1>
        <p class="lead blog-description">最快的网站框架</p>

    </div>

    <div class="row">
        <div class="col-xs-4">
            <img src="/static/image/cover_4.jpg" alt="Iris " style="width: 100%;">
        </div>
        <div class="col-xs-6">
            <p>
                《Iris 网站框架 实践指南》的内容是自己在学习
                <a href="https://github.com/iris-contrib/gitbook" target="_blank">Iris官方文档</a>(Iris Web Framework Practical Guied)过程中完全依照其内容翻译而成。
                鉴于英语水平有限,有些地方翻译的比较牵强,所以保留了英语原文(因为作者是希腊人,有些语句写的不容易理解,给自己找个借口)。
            </p>
            <p>
                此站点是在学习完此指南后,用 Iris 框架(很灵活、很顺手)开发的。源码库在<a href="https://github.com/hilerchyn/iris-go.cn" target="_blank">这里</a>。
                能力有限,还望大家多多给予指点。
            </p>
            <p>
                翻译后的内容保存在 GitHub 仓库 <a href="https://github.com/hilerchyn/iris-gitbook" target="_blank">Iris GitBook</a>。
                如有翻译错误、不准确、不通顺的地方, 可以直接在仓库上提issue, pull request, 或直接告诉。此处应有联系方式:
            </p>
            <ul>
                <li>E-Mail: hilerchyn@gmail.com</li>
                <li>GitHub: <a href="https://github.com/hilerchyn" target="_blank">@hilerchyn</a></li>
            </ul>
            <br/>
            <p><a class="btn btn-primary btn-lg" href="/gitbook" role="button">开始学习</a></p>
        </div>
    </div>
</div>